<div class="modal fade" id="modal-update-task" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h5 class="modal-title">Tarea</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            </div>
            <div class="modal-body">
                <div id="tab-tarea">
                    <div class="example-alert">
                        <div class="alert alert-success alert-icon">
                            <em class="icon ni ni-alert-circle"></em> Tarea creada por <strong>{nombre_autor}</strong> el {fecha_creacion}.
                        </div>
                    </div>
                    <form>
                        <input type="hidden" name="dataEncription" value="{dataEncription}">
                        <div class="form-group mb-0">
                            <label class="form-label" for="titulo">Tarea <span class="text-muted">Tar-{id_tarea}</span></label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control validate required" id="titulo" name="titulo" value="{titulo}" required />
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label class="form-label" for="descripcion">Descripción</label>
                            <div class="form-control-wrap">
                                <textarea class="form-control validate required" id="descripcion" name="descripcion" required>{descripcion}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label select2" for="id_responsables">Responsable</label>
                                    <div class="form-control-wrap">
                                        <select class="form-control select2" id="id_responsables" name="id_responsables" multiple data-placeholder="{lang(general_select_option)}">
                                            <option value="">{lang(general_select_option)}</option>
                                            {list-responsables}
                                            <option value="{id_usuario}" {if {selected}==1}selected{/if}>{nombre_completo}</option>
                                            {/list-responsables}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="id_participantes">Participantes</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select select2 init-select2" id="id_participantes" name="id_participantes" multiple data-placeholder="{lang(general_select_option)}">
                                            <option value="">{lang(general_select_option)}</option>
                                            {list-participantes}
                                            <option value="{id_usuario}" {if {selected}==1}selected{/if}>{nombre_completo}</option>
                                            {/list-participantes}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="id_estatus">Estatus</label>
                                    <div class="form-control-wrap">
                                        <select class="form-control select2" id="id_estatus" name="id_estatus" data-placeholder="{lang(general_select_option)}">
                                            <option value="" selected>{lang(general_select_option)}</option>
                                            {list-estatus}
                                            <option value="{id_estatus}" {if {selected}==1}selected{/if}>{estatus}</option>
                                            {/list-estatus}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="id_prioridad">Prioridad</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select select2" id="id_prioridad" name="id_prioridad" data-placeholder="{lang(general_select_option)}">
                                            <option value="" selected>{lang(general_select_option)}</option>
                                            {list-prioridad}
                                            <option value="{id_prioridad}" {if {selected}==1}selected{/if}>{prioridad}</option>
                                            {/list-prioridad}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <div class="preview-block " data-toggle="collapse">
                                    <div class="custom-control custom-switch " data-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">
                                        <input type="checkbox" class="custom-control-input" id="collapseExample" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" name="mc" value="1" />
                                        <label class="custom-control-label" for="collapseExample">
                                            Mostrar en calendario
                                            <span class="sub-text text-info">
                                                Al activar esta casilla, la tarea parasá como un evento y se visualizará en el calendario.
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 collapse mt-3" id="collapseExample">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="fecha_inicio">Fecha inicio</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control validate required" id="fecha_inicio" name="fecha_inicio" value="{fecha_inicio}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="hora_inicio">Hora inicio</label>
                                            <div class="form-control-wrap">
                                                <input type="time" class="form-control" id="hora_inicio" name="hora_inicio">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="fecha_fin">Fecha fin</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control validate required" id="fecha_fin" name="fecha_fin" value="{fecha_fin}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="hora_fin">Hora fin</label>
                                            <div class="form-control-wrap">
                                                <input type="time" class="form-control" id="hora_fin" name="hora_fin">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <div id="accordion" class="accordion accordion-s3">
                                    <div class="accordion-item">
                                        <a href="#" class="accordion-head" data-toggle="collapse" data-target="#accordion-item-1">
                                            <h6 class="title">Comentarios</h6>
                                            <span class="accordion-icon"></span>
                                        </a>
                                        <div class="accordion-body collapse show" id="accordion-item-1" data-parent="#accordion">
                                            <div class="accordion-inner">
                                                <div class="nk-msg" style="min-height: auto;">
                                                    <div class="nk-msg-body bg-white show-message" style="position: inherit;">
                                                        <div class="nk-msg-reply nk-reply">
                                                            <div class="content-comment">
                                                                {comentarios}
                                                            </div>
                                                            <div class="nk-reply-form mx-0">
                                                                <div class="nk-reply-form-editor">
                                                                    <div class="nk-reply-form-field">
                                                                        <textarea class="form-control form-control-simple no-resize" rows="1" id="message" placeholder="Escribe su comentario"></textarea>
                                                                    </div>
                                                                    <div class="nk-reply-form-tools p-1">
                                                                        <ul class="nk-reply-form-actions g-1">
                                                                            <li class="mr-2">
                                                                                <button class="btn btn-primary btn-sm btn-save-comment" type="button" disabled>
                                                                                    Comentar
                                                                                </button>
                                                                            </li>
                                                                            <!-- <li>
                                                                                <a class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" title="Upload Attachment" href="#">
                                                                                    <em class="icon ni ni-clip-v"></em></a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" title="Insert Emoji" href="#"><em class="icon ni ni-happy"></em></a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" title="Upload Images" href="#"><em class="icon ni ni-img"></em></a>
                                                                            </li> -->
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2 text-right">
                                <button type="button" id="btn-update-task" class="btn btn-dark">{lang(general_save)}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
