{switch {id_estatus}}
	{case 1}<span class="badge badge-dot badge-dot-xs badge-warning ml-1">Por hacer</span>{break}
	{case 2}<span class="badge badge-dot badge-dot-xs badge-info ml-1">En curso</span>{break}
	{case 3}<span class="badge badge-dot badge-dot-xs badge-success ml-1">Finalizada</span>{break}
	{case 4}<span class="badge badge-dot badge-dot-xs badge-danger ml-1">Atrasada</span>{break}
	{case 5}<span class="badge badge-dot badge-dot-xs badge-warning ml-1">Cancelada</span>{break}
{/switch}