{comentarios}
<div class="nk-reply-item px-0 py-2 mb-2 border-bottom" data-dataEncription="{dataEncription}">
    <div class="nk-reply-header">
        <div class="user-card">
            <div class="user-avatar sm bg-pink"><span>{get_avatar({usuario})}</span></div>
            <div class="user-name">{usuario} 
                {if {id_usuario_insert}=={get_userData(id_usuario)}}
                <span>
                    <a href="#" class="btn btn-icon btn-sm rm-comment" title="Eliminar comentario">
                        <em class="icon ni ni-trash-fill text-danger"></em>
                    </a>
                </span>
                {/if}
            </div>
        </div>
        <div class="date-time">{custom_timestamp_insert}</div>
    </div>
    <div class="nk-reply-body">
        <div class="nk-reply-entry entry">
            <p>{comentario}</p>
        </div>
    </div>
</div>
{/comentarios}
