<div class="nk-block">
    <div class="row g-gs">
    	{if {menu7}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu7}">
                                		{lang(menu_productos)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra los catálogos de tus productos
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    	{if {menu8}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu8}">
                                		{lang(menu_requisiciones)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change down text-danger">
                                	Administra los catálogos de las requisiciones de compra.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    	{if {menu9}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu9}">
                                		{lang(menu_vales_entrada)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra los catálogos para la generación de las vales de entrada.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
        {if {menu16}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                    <a href="{base_url()}{menu16}">
                                        {lang(menu_vales_salida)}
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                    Administra los catálogos para la generación de las vales de salida.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>
