<div class="modal fade" id="modal-nuevo-vale-complementos-pago" aria-modal="true" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-fs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo complemento de pago</h5>
                <a href="#" class="close" id="close-solicitud" data-dismiss="modal-nuevo-vale-complementos-pago" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="no-folio">Nro° Complemento de pago</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="" disabled name="no-folio" value="556786" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_vale_estatus">Estatus complemento</label>
                                <div class="form-control-wrap">
                                    <select id="" name="id_vale_estatus" disabled class="form-select init-select2 validate required">
                                        <option value="1"  selected>Entregado</option>
                                        <option value="2" >Cancelado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Fecha de complemento</label>
                                <div class="form-control-wrap">
                                    <input type="date" disabled class="form-control validate required" id="" name="" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="s">Cliente</label>
                                <div class="form-control-wrap">
                                    <select id="" name="" disabled class="form-select init-select2 validate required">
                                        <option value="false"  selected> Cliente 1</option>
                                        <option value="true"> Cliente 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="no-folio">Nro° de factura</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="" disabled name="" value="556786" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="no-folio">Importe restante</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="" disabled name="" value="230" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="s">Status de factura</label>
                                <div class="form-control-wrap">
                                    <select id="" name="" disabled  class="form-select init-select2 validate required">
                                        <option value="1"  selected>Pago</option>
                                        <option value="2">No pago</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Moneda</label>
                                <select id="" name="" disabled  class="form-select init-select2 validate required">
                                    <option value="1"  selected>Peso Méxicano</option>
                                    <option value="2">Dolar</option>
                                    <option value="2">Euro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Número de parcialidad</label>
                                <select id="" name="" disabled class="form-select init-select2 validate required">
                                    <option value="1"  selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label"  for="">Observaciones</label>
                                <input type="text" disabled class="form-control validate required" value=""  id="" name="" required="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
            <div class="modal-footer py-2">
                <button type="button" id="btn-save-vale-entrada" class="btn btn-dark">{lang(general_save)}</button>
            </div>
        </div>
    </div>
</div>














