<div class="nk-header-menu" data-content="headerNav">
    <ul class="nk-menu nk-menu-main">
        <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
                <span class="nk-menu-text">{lang(menu_almacen)}</span>
            </a>
            <ul class="nk-menu-sub row" style="min-width: 500px; max-width: 500px;">
                <li class="nk-menu-item">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-6 col-md-4">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link fw-bolder disabled" href="{base_url(title1)}">Productos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link1)}">Diseño E Innovación</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link2)}">Mantenimiento</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link3)}">Oficina</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link3)}">Producción</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link3)}">Servicio Técnico</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link3)}">Sistemas</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-xs-6 col-md-4">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link fw-bolder disabled" href="{base_url(title2)}">Requisiciones</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link4)}">Formatos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link5)}">Reportes</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-xs-6 col-md-4">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link fw-bolder disabled" href="{base_url(title3)}">Vales</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{base_url(link7)}">Entrada</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{base_url(link8)}">Salida</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>