<div class="modal fade" id="modal-nuevo-vale-salida" aria-modal="true" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-fs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vale de salida</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="no-folio">Número de folio</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="no-folio" name="no-folio" value="VS-{proximo_id}" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="custom_fecha">Fecha</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="custom_fecha" name="custom_fecha" value="{date(d/m/Y)}" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_vale_estatus">Estatus</label>
                                <div class="form-control-wrap">
                                    <select id="id_vale_estatus" name="id_vale_estatus" class="form-select init-select2 validate required">
                                        <option value="" disabled selected>{lang(general_select_option)}</option>
                                        {vales-estatus}
                                        <option value="{id_vale_estatus}">{estatus}</option>
                                        {/vales-estatus}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group mb-0">
                                <label class="form-label" for="cliente">Cliente y/o departamento</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="cliente" name="cliente" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="pedido_interno">Pedido interno/Nota crédito</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate" id="pedido_interno" name="pedido_interno" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card bg-light my-2">
                                <div class="card-body px-1 py-2">
                                    <table class="table dataTable no-footer dtr-inline" id="modal-tbl-salida-productos" data-btn-Add="true">
                                        <thead>
                                            <tr class="nk-tb-item nk-tb-head bg-dark">
                                                <th class="nk-tb-col text-white">Tipo de producto</th>
                                                <th class="nk-tb-col text-white">Unidad de medida</th>
                                                <th class="nk-tb-col text-white">No. de parte</th>
                                                <th class="nk-tb-col text-white" style="width:350px !important;">Descripción</th>
                                                <th class="nk-tb-col text-white">Cantidad</th>
                                                <th class="nk-tb-col text-white">Referencia de salida</th>
                                                <th class="nk-tb-col content-colVis noVis all text-right text-white" data-orderable="false"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group mb-0">
                                <label class="form-label" for="concepto_salida">Concepto de salida</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate" id="concepto_salida" name="concepto_salida" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="form-group mb-0">
                                <label class="form-label" for="observaciones">Observaciones</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate" id="observaciones" name="observaciones" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_ve_ae">{lang(vales_almacen_salida)}</label>
                                <div class="form-control-wrap">
                                    <select id="id_vale_almacen" name="id_vale_almacen" class="form-select init-select2 validate required">
                                        <option value="" disabled selected>{lang(general_select_option)}</option>
                                        {vales-almacen}
                                        <option value="{id_vale_almacen}">{almacen}</option>
                                        {/vales-almacen}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center pt-2">
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group mb-0">
                                <label class="form-label" for="recibio">Recibió</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="recibio" name="recibio" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group mb-0">
                                <label class="form-label" for="entrego">Entregó</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="entrego" name="entrego" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group mb-0">
                                <label class="form-label" for="vo_bo">Vo. Bo.</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="vo_bo" name="vo_bo" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" id="btn-save-vale-salida" class="btn btn-dark">{lang(general_save)}</button>
            </div>
        </div>
    </div>
</div>
