<!--<div class="nk-wrap">
	<div class="nk-content">
		<div class="container-fluid">
			<div class="nk-content-inner">
				<div class="nk-content-body">
					<div class="nk-block">
						<div class="row g-gs">
							<div class="col-xxl-6">
								<div class="card h-100">
									<div class="card-inner">
										<div class="card-title-group align-start gx-3 mb-3">
											<div class="card-title">
												<h6 class="title">Ventas en el año</h6>
												<p><a href="#">Ver Detalles</a></p>
											</div>
											<div class="card-tools">
												<div class="dropdown">
													<a href="#" class="btn btn-primary btn-dim d-none d-sm-inline-flex" data-toggle="dropdown">
														<em class="icon ni ni-menu"></em>
													</a>
													<a href="#" class="btn btn-icon btn-primary btn-dim d-sm-none" data-toggle="dropdown"><em class="icon ni ni-download-cloud"></em></a>
													<div class="dropdown-menu dropdown-menu-right">
														<ul class="link-list-opt no-bdr">
															<li>
																<a href="#"><span>Historico</span></a>
															</li>
															<li>
																<a href="#"><span>Año</span></a>
															</li>
															<li>
																<a href="#"><span>Mes</span></a>
															</li>
															<li>
																<a href="#"><span>Dia</span></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
											<div class="nk-sale-data"><span class="amount">MXN $42,179.60</span></div>
											<div class="nk-sale-data">
												<span class="amount sm">Facturado / Entregado / Pagado</span>
											</div>
										</div>
										<div class="nk-sales-ck large pt-4"><canvas class="sales-overview-chart" id="salesOverview"></canvas></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
		
<!--<div class="nk-block-head nk-block-head-sm bg-white px-2 pb-1">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content"></div>
        <div class="nk-block-head-content">
		    <div class="toggle-wrap nk-block-tools-toggle">
			    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
			    <div class="toggle-expand-content" data-content="pageMenu">
			        <ul class="nk-block-tools g-3 tools-tbl-almacen">
			            <li>
			                <div class="form-control-wrap">
			                    <div class="form-icon form-icon-right">
			                    	<em class="icon ni ni-search"></em>
			                    </div>
			                    <input type="text" id="buscar" class="form-control form-control-outlined" autocomplete="off" />
							        <label class="form-label-outlined" for="buscar">{lang(lib_sSearchPlaceholder)}</label>
			                </div>
			            </li>
			            <li>
			            	<div class="dropdown">
				                <a href="#" class="btn btn-outline-light btn-icon dropdown-toggle bg-transparent text-soft" data-toggle="dropdown" title="{lang(lib_total_rows)}">
				                    <em class="icon ni ni-list-ol"></em>
				                </a>
				                <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
				                    <ul class="link-check almacen_length">
				                        <li><span>{lang(lib_mostrar)}</span></li>
				                        <li class="active">
				                            <a href="#" data-length="10">10 {lang(lib_registros_min)}</a>
				                        </li>
				                        <li>
				                            <a href="#" data-length="25">25 {lang(lib_registros_min)}</a>
				                        </li>
				                        <li>
				                            <a href="#" data-length="50">50 {lang(lib_registros_min)}</a>
				                        </li>
				                        <li>
				                            <a href="#" data-length="-1">{lang(general_todos)}</a>
				                        </li>
				                    </ul>
				                </div>
				            </div>
			            </li>
			        </ul>
			    </div>
			</div>
		</div>
    </div>
</div>
<div class="nk-block">
	<div class="table-responsive">
		<table class="table dataTable no-footer dtr-inline" id="tbl-almacenes-productos-entrada" data-btn-col-vis="true" data-btn-Add="true">
	    	<thead>
			    <tr class="nk-tb-item nk-tb-head bg-dark">
					
			        <th class="nk-tb-col text-white">Mes</th>
			        <th class="nk-tb-col text-white noVis">Nombre</th>
			        <th data-visible="{show_price()}" class="nk-tb-col text-white">Total</th>


			        <th class="nk-tb-col text-white noVis all" data-visible="false">Folio</th>
			        <th class="nk-tb-col text-white noVis all">Referencia de entrada</th>
			        <th class="nk-tb-col text-white noVis all" data-visible="false">Fecha</th>
			        <th class="nk-tb-col text-white noVis all">Cantidad</th>
			        <th class="nk-tb-col text-white noVis all">No. de parte</th>
			        <th class="nk-tb-col text-white noVis all">Tipo de producto</th>
			        <th class="nk-tb-col text-white noVis all">{lang(productos_unidad_medida)}</th>
			        <th class="nk-tb-col text-white noVis all">Concepto</th>
			        <th class="nk-tb-col text-white noVis all" data-visible="false">Recibió</th>
			        <th class="nk-tb-col text-white noVis all" data-visible="false">Entregó</th>
			        <th class="nk-tb-col text-white noVis all" data-visible="false">Vo. Bo</th>
			        <th class="nk-tb-col text-white noVis all" data-visible="false">Estatus</th>
			        <th class="nk-tb-col content-colVis noVis all text-right text-white" data-orderable="false"></th> 
			    </tr>
			</thead>
	    </table>
	</div>
</div>-->