<!DOCTYPE html>
<html lang="es" class="js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="{base_url()}{get_var(path_img)}/favicon.ico"/>
        <title>{get_var(site_name)}</title>

        <!-- INCLUDE HEADERS -->
        {include-headers}
        <!-- END INCLUDE HEADERS -->

        <script type="text/javascript">
            var strLang  = '{get_system_lang()}';
            var IS = {
                site_url: '{base_url()}',
                lang: JSON.parse(strLang)
            };
        </script>
    </head>
    <body class="nk-body bg-white npc-default pg-auth">
        {page-preloader}
        <div class="nk-app-root">
            <div class="nk-main">
                <div class="nk-wrap nk-wrap-nosidebar">
                    <div class="nk-content">
                        <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                            <div class="brand-logo pb-4 text-center">
                                <a href="javascript:void(0);" class="logo-link">
                                    <img class="logo-light logo-img logo-img-lg" src="{base_url()}{get_var(path_img)}/logo/logo.png" srcset="{base_url()}{get_var(path_img)}/logo/logo2x.png 2x" alt="logo" />
                                    <img class="logo-dark logo-img logo-img-lg" src="{base_url()}{get_var(path_img)}/logo/logo-dark.png" srcset="{base_url()}{get_var(path_img)}/logo/logo-dark2x.png 2x" alt="logo-dark" />
                                </a>
                            </div>
                            <div class="card">
                                <div class="card-inner card-inner-lg">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">{lang(login_recover_password)}</h4>
                                            <div class="nk-block-des">
                                                <p>
                                                    {lang(login_note13)}<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="reset-password">
                                        <input type="hidden" name="token" value="{token}">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label class="form-label" for="password">{lang(login_password)}</label>
                                                 <a class="link link-primary link-sm init-tooltip" href="javascript:void(0)" 
                                                    title="
                                                    <p>{lang(login_note4)}</p>
                                                    <ol style='list-style: decimal;'>
                                                        <li>{lang(login_note5)}</li>
                                                        <li>{lang(login_note6)}</li>
                                                        <li>{lang(login_note7)}</li>
                                                        <li>{lang(login_note8)}</li>
                                                        <li>{lang(login_note9)}</li>
                                                        <li>{lang(login_note10)}</li>
                                                    </ol>" data-custom-Class="nk-tb-col-tools-tooltip">{lang(login_note3)}</a>
                                            </div>
                                            <div class="form-control-wrap">
                                                <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                    <em class="passcode-icon icon-show icon ni ni-eye"></em><em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                                </a>
                                                <input type="password" id="password" class="form-control form-control-lg validate required encript-md5" name="password" placeholder="{lang(login_password)}" tabindex="2"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-label-group">
                                            	<label class="form-label" for="password">{lang(login_rpt_password)}</label>
                                            </div>
                                            <div class="form-control-wrap">
                                                <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password-repeat">
                                                    <em class="passcode-icon icon-show icon ni ni-eye"></em><em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                                </a>
                                                <input type="password" id="password-repeat" class="form-control form-control-lg validate required encript-md5" name="password-repeat" placeholder="{lang(login_password)}" tabindex="2"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        	<button class="btn btn-primary btn-block" tabindex="3">{lang(general_save)}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="nk-footer nk-auth-footer-full">
                            <div class="container wide-lg">
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <div class="nk-block-content text-center text-lg-left">
                                            <p class="text-soft">Copyright © {date(Y)} <a href="https://adysacode.com/" target="_blank">AdysaCode</a>. All rights reserved.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- INCLUDE VENDOR -->
        {include-vendor}
        <!-- END INCLUDE VENDOR -->

        <!-- INCLUDE FOOTER -->
        {include-footer}
        <!-- END INCLUDE FOOTER -->

        <!-- INCLUDE LANGUAGE -->
        {include-language}
        <!-- END INCLUDE LANGUAGE -->

        <!-- INCLUDE BOOTSTRAPS -->
        {include-bootstraps}
        <!-- END INCLUDE BOOTSTRAPS -->

        <!-- INCLUDE MODULE -->
        {include-modulo}
        <!-- END INCLUDE MODULE -->
    </body>
</html>
