<div class="nk-block-head nk-block-head-sm bg-white px-2 pb-1">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title text-primary">
            	{lang(menu_facturacion)}
            </h3>
        </div>
        <div class="nk-block-head-content">
		    {tpl-tools}
		</div>
    </div>
</div>
<div class="nk-block">
	<div class="card">
		<div class="card-inner pt-0">
			<table class="table dataTable no-footer dtr-inline" id="tbl-ventas-cotizaciones" data-btn-col-vis="true">
	        	<thead>
				    <tr class="nk-tb-item nk-tb-head bg-dark">
				        <th data-visible="false" class="nk-tb-col text-white noVis">{lang(general_id)}</th>
				        <th data-visible="false" class="nk-tb-col text-white">{lang(general_categoria)}</th>
				        <th class="nk-tb-col text-white noVis">Título</th>
				        <th class="nk-tb-col content-colVis noVis all text-right text-white" data-orderable="false"></th>
				    </tr>
				</thead>
	        </table>
		</div>
	</div>
</div>