<div class="nk-block">
    <div class="row g-gs">
    	{if {menu12}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu12}">
                                		{lang(menu_productos)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra los catálogos de tus productos
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    	{if {menu32}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu32}">
                                		{lang(menu_cotizaciones)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra los catálogos de tus cotizaciones
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    	{if {menu35}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu35}">
                                		{lang(menu_vendedores)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra el catálogo de vendedores
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    	{if {menu102}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu102}">
                                		{lang(menu_clientes)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra el catálogo de clientes
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
        {if {menu36}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu36}">
                                		{lang(menu_pedidos_internos)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra el catálogo de pedidos internos
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
        {if {menu37}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu37}">
                                		{lang(menu_facturacion)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra el catálogo de facturación
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
        {if {menu38}}
        <div class="col-xxl-3 col-sm-6">
            <div class="card">
                <div class="nk-ecwg nk-ecwg6">
                    <div class="card-inner">
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">
                                	<a href="{base_url()}{menu38}">
                                		{lang(menu_notas_credito)}
                                	</a>
                                </div>
                            </div>
                            <div class="info">
                                <span class="change up text-danger">
                                	Administra el catálogo de Notas de crédito
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>
