<table class="content-message">
    <thead>
        <tr>
            <td style="padding: 5px 25px;">
                <p>{login_estimado_usuario}</b>, <br> <br> 

                {login_note11}</p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 25px;"> 

                <p style="padding-bottom: 5px;">{lang(login_donde_cuando)}</p>
                <p style="padding-top: 0px;">
                    <b>{lang(general_fecha)}:</b>  {date(Y-m-d H:i:s)} <br>
                    <b>{lang(login_navegador)}:</b>  {navegador} <br>
                    <b>{lang(login_sistema_operativo)}:</b>  {platform} <br>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table class="content-message" style="font-size: 9px; max-width: 500px;">
    <tbody>
        <tr>
            <td style="padding: 25px; padding-bottom: 0px;">  
                 <p style="padding-top: 0px; text-align: center;">
                    <b>{lang(lang_aviso_de_privacidad_simplificado_titulo)}</b>
                </p>
                {lang(lang_aviso_de_privacidad_simplificado)}
            </td>
        </tr>
    </tbody>
</table>