<div class="modal fade" id="modal-nuevo-registro" aria-modal="true" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog modal-fs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo registro | Facturación</h5>
                <a href="#" class="close close-registro" data-dismiss="modal-nuevo-registro" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="no-folio">Nro° Factura</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="no-folio" name="no-folio" value="567567" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_vale_estatus">Estatus factura</label>
                                <div class="form-control-wrap">
                                    <select id="" name="id_vale_estatus" class="form-select init-select2 validate required">
                                        <option value="1" disabled selected>Entregado</option>
                                        <option value="2" disabled selected>Cancelado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Fecha de elaboración</label>
                                <div class="form-control-wrap">
                                    <input type="date" class="form-control validate required" id="" name="" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_vale_estatus">Uso de CFDI</label>
                                <div class="form-control-wrap">
                                    <select id="" name="id_vale_estatus class="form-select init-select2 validate required">
                                        <option value="false"  selected>No</option>
                                        <option value="true">Si</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">N° P.I</label>
                                <div class="form-control-wrap">
                                    <select id="" name="id_vale_estatus class="form-select init-select2 validate required">
                                        <option value="1"  selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2" >
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_vale_almacen">Cliente</label>
                                <div class="form-control-wrap">
                                    <select name="id_vale_almacen" class="form-select validate required">
                                        <!-- <option value="" disabled selected>Cliente 1</option> -->
                                        <!-- {vales-almacen} -->
                                        <option value="{id_vale_almacen}">Cliente 2</option>
                                        <!-- {/vales-almacen} -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2" >
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Subtotal</label>
                                <div class="form-control-wrap">
                                    <input type="number" value="400" class="form-control validate required" id="" name="" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2" >
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Descuento</label>
                                <div class="form-control-wrap">
                                    <input type="text" value="10%" class="form-control validate required" id="" name="" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2" >
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Iva</label>
                                <div class="form-control-wrap">
                                    <input type="text" value="20%" class="form-control validate required" id="" name="" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Moneda</label>
                                <div class="form-control-wrap">
                                    <select id="" name="" class="form-select init-select2 validate required">
                                        <option value="1"  selected>Peso Méxicano </option>
                                        <option value="2">Dolar</option>
                                        <option value="3">Euro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Concepto</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control validate required" id="" name="" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="">Método de pago</label>
                                <div class="form-control-wrap">
                                    <select id="" name="" class="form-select init-select2 validate required">
                                        <option value="1"  selected>Efectivo</option>
                                        <option value="2">Transferenci</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group mb-0">
                                <label class="form-label" for="id_vale_estatus">Estatus entrega</label>
                                <div class="form-control-wrap">
                                    <select id="" name="id_vale_estatus" class="form-select init-select2 validate required">
                                        <option value="false"  selected>No</option>
                                        <option value="true">Si</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" id="btn-save-vale-entrada" class="btn btn-dark">{lang(general_save)}</button>
            </div>
        </div>
    </div>
</div>