<div class="modal fade" id="new-vendedor" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{lang(general_new_vendedor)}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate">
                    <div class="form-group mb-0">
                        <label class="form-label" for="requisicion">{lang(general_vendedor)}</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required" id="vendedor" name="vendedor" required/>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="requisicion">Departamento</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required" id="departamento" name="departamento" required/>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="requisicion">Correo</label>
                        <div class="form-control-wrap">
                            <input type="email" class="form-control validate required" id="correo" name="correo" required/>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="requisicion">Comisión</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required" id="comision" name="comision" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" id="btn-save-vendedor" class="btn btn-dark">{lang(general_save)}</button>
            </div>
        </div>
    </div>
</div>
