<div class="modal fade" id="modal-add-producto-reporte-sistemas" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-top modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo producto</h5>
                <a href="#" class="close" data-dismiss-modal="modal-add-producto-reporte-sistemas" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate">
                    <div class="form-group mb-0">
                        <label class="form-label" for="cantidad">Cantidad</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required number" id="cantidad" name="cantidad" required />
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="no_parte">No. de parte</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required" id="no_parte" name="no_parte" required />
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="id_unidad_medida">Unidad de medida</label>
                        <div class="form-control-wrap">
                            <select id="id_unidad_medida" name="id_unidad_medida" class="form-select init-select2 validate required">
                                <option value="" selected>{lang(general_select_option)}</option>
                                {unidades-medida}
                                    <option value="{id_unidad_medida}">{custom_unidad_medida}</option>
                                {/unidades-medida}
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="descripcion">Descripción</label>
                        <div class="form-control-wrap">
                            <textarea class="form-control no-resize validate required" id="descripcion" name="descripcion" required></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="precio_unitario">Precio unitario</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required number" id="precio_unitario" name="precio_unitario" required />
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="descuento">Descuento</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required number" id="descuento" name="descuento" required />
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="importe">Importe</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required number" id="importe" name="importe" required />
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" for="autorizado">Autorizado</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control validate required" id="autorizado" name="autorizado" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" id="btn-add-producto-reporte-sistemas" class="btn btn-dark">{lang(general_agregar)}</button>
            </div>
        </div>
    </div>
</div>
