<div class="card card-bordered card-preview my-2">
    <div class="card-body px-1 py-2">
        <div class="card-title"><h6 class="title">Gimnasio</h6></div>
        <table class="table dataTable no-footer dtr-inline" id="modal-tbl-entrada-productos" data-btn-Add="true">
            <thead>
                <tr class="nk-tb-item nk-tb-head bg-dark">
                    <th class="nk-tb-col text-white"></th>
                    <th class="nk-tb-col text-white" style="width: 70%;">Descripción del estado</th>
                    <th class="nk-tb-col text-white">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="gimnasio[accesorios_inteligentes][id]" value="{id_gimnasio_accesorios_inteligentes}">
                        <input type="hidden" name="gimnasio[accesorios_inteligentes][item]" value="Accesorios Inteligentes">
                        Accesorios Inteligentes
                    </td>
                    <td><input type="text" class="form-control validate required" name="gimnasio[accesorios_inteligentes][descripcion_estado]" value="{gimnasio_accesorios_inteligentes_desc}"></td>
                    <td>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="gimnasio-estado-accesorios-inteligentes1" name="gimnasio[accesorios_inteligentes][estado]" class="custom-control-input validate required" value="Bueno" {if {gimnasio_accesorios_inteligentes_estado}==1} checked {/if}>
                            <label class="custom-control-label" for="gimnasio-estado-accesorios-inteligentes1">Bueno</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="gimnasio-estado-accesorios-inteligentes2" name="gimnasio[accesorios_inteligentes][estado]" class="custom-control-input validate required" value="Dañado" {if {gimnasio_accesorios_inteligentes_estado}==0} checked {/if}>
                            <label class="custom-control-label" for="gimnasio-estado-accesorios-inteligentes2">Dañado</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="gimnasio[sistemas_cables][id]" value="{id_gimnasio_sistemas_de_cables}">
                        <input type="hidden" name="gimnasio[sistemas_cables][item]" value="Sistemas De Cables">
                        Sistemas De Cables
                    </td>
                    <td><input type="text" class="form-control validate required" name="gimnasio[sistemas_cables][descripcion_estado]" value="{gimnasio_sistemas_de_cables_desc}"></td>
                    <td>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="gimnasio-estado-sistemas-cables1" name="gimnasio[sistemas_cables][estado]" class="custom-control-input validate required" value="Bueno" {if {gimnasio_sistemas_de_cables_estado}==1} checked {/if}>
                            <label class="custom-control-label" for="gimnasio-estado-sistemas-cables1">Bueno</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="gimnasio-estado-sistemas-cables2" name="gimnasio[sistemas_cables][estado]" class="custom-control-input validate required" value="Dañado" {if {gimnasio_sistemas_de_cables_estado}==0} checked {/if}>
                            <label class="custom-control-label" for="gimnasio-estado-sistemas-cables2">Dañado</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-0">
                                    <label class="form-label" for="gimnasio_observaciones">Observaciones</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control validate required" id="gimnasio_observaciones" name="gimnasio_observaciones" value="{gimnasio_observaciones}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-0">
                                    <label class="form-label" for="gimnasio_am">Aspectos Mejora</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control validate required" id="gimnasio_am" name="gimnasio_am" value="{gimnasio_am}" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>